.containerCart {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1200px 700px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary";
}

.listProduct{
    height: auto;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 28px;
    grid-area: listCart;
    display: inline-block;
    background: #f3f6ff62;
}

.listProductOrdern {
    display: flex;
    justify-items: stretch ;
}

.listProductOrdern table {
    width: auto;
    height: auto;
    margin: 1.5%;
    background: #f3f6ff;
    border: 1px black solid;
}

.listProductOrdern table tr th{
    text-align: center;
    font-size: 20px;
    padding: 10px 14px;
    border-right: red 1px solid;
}

.listProductOrdern table tr td{
    text-align: center;
    border: black 1px solid;
    padding: 8px 8px 8px 2px;
    border-right: red 1px solid;
    font-size: 17px;
}

.listProductOrdern table tr td img{
    max-width: 60px;
    max-height: 60px;

}

.listProductOrdern table tr td p{
    display: inline-block;
    text-align: left;
    text-align: center;
    text-align: 17px;
    padding: 18px 40px 18px 0;
}

.listProductOrdern table tr td button{
    background-color: #ff7b00;
    color: white;
    border: none;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    padding: 0;
    width: 18px;

}

.listProductOrdern table tr td input{
    width: 18px;
    height: 18px;
    font-size: 24px;
    text-align: center;
    border: none;
    background: black;
    color: white;
}

.listProductOrdern table tr td span{
   padding: 0 8px;
}

.compra{
    justify-content: center;
    margin: 30px;
    width: 600px;
    height: 460px;
    grid-area: summary;
    background: #f3f6ff88;
}


.cupon input{
    width: 340px;
    height: 44px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin: 16px 13px 0 10px;
    background: none;
}

.cupon button {
    background: none;
    border: 1px solid #ff7b00;
    width: 220px;
    height: 46px;
    padding: 2px 0;
    font-size: 18px;
}

.priceContent {
    margin: 4% 3% 8% 3%;
    background: #f3f6ff;
    
}

.priceContentPosicion {
    padding: 20px;
}

.priceContentPosicion h1{
    font-size: 34px;
    margin-bottom: 10px;
}

.priceContentPosicion p{
    font-size: 19px;
    margin: 18px 0;
}

.priceContentPosicion p span{
    font-size: 19px;
    float: right;
}

.priceContentPosicion h2 span{
    font-size: 20px;
    float: right;
   
}

.compraContent {
    margin: 0;
}

.buttonSummit {
    background: none;
    border: 1px solid #ff7b00;
    width: 220px;
    height: 46px;
    padding: 2px 0;
    font-size: 18px;
    float: right;
    margin-right: 52px;
}

@media only screen and (max-width: 1024px) {

.containerCart {
    margin-top: 56px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 624px 400px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary";
}

.listProduct{
    width: 600px;
}

.listProductOrdern table {
    margin: 0 10px 0 0;
}

.listProductOrdern table tr th{
    font-size: 14px;
    padding: 8px 7px;
}

.listProductOrdern table tr td{
    padding: 6px 6px 6px 2px;
    font-size: 12px;
}

.listProductOrdern table tr td img{
    max-width: 60px;
    max-height: 60px;

}

.listProductOrdern table tr td p {
    text-align: 14px;
    padding: 10px 10px 10px 0;
}

.listProductOrdern table tr td button{
    font-size: 20px;
    width: 18px;
    height: 20px;

}   


.listProductOrdern table tr td input {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.listProductOrdern table tr td span{
    padding: 0 8px;
    font-size: 16px;
 }

.compra{
    width: 400px;
    height: 420px;
    margin: 10px;
}

.cupon input{
    width: 240px;
    height: 34px;
    font-size: 18px;
    border-radius: 4px;
    margin: 16px 4px 0 10px;
}

.cupon button {
    width: 130px;
    height: 34px;
    padding: 2px 0;
    font-size: 18px;
}

.buttonSummit {
    width: 180px;
    height: 36px;
    padding: 2px 0;
    font-size: 18px;
    margin: 8px 10px;
}

}

@media only screen and (max-width: 768px) {


.containerCart {
    margin-top: 56px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 518px 250px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary";}
    
.listProduct{
    width: 500px;
}
    
.listProductOrdern table {
    margin: 0 22px 0 0;
}
    
.listProductOrdern table tr th{
    font-size: 14px;
    padding: 8px 7px;
}
    
.listProductOrdern table tr td{
    padding: 4px 4px 4px 1px;
    font-size: 12px;
}
    
.listProductOrdern table tr td img{
    max-width: 50px;
    max-height: 50px;
    
}
    
.listProductOrdern table tr td p {
    text-align: 10px;
    padding: 8px 8px 8px 0;
}
    
.listProductOrdern table tr td button{
    font-size: 16px;
    width: 16px;
    height: 17px;
    
}   
    
    
.listProductOrdern table tr td input {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.listProductOrdern table tr td span{
    padding: 0 8px;
    font-size: 16px;
 }

.compra{
    width: 240px;
    margin: 5px;
}
    
.cupon input{
    width: 230px;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    
}
    
.cupon button {
    width: 230px;
    height: 30px;
    font-size: 18px;
    margin: 6px 0 0 10px;
}

.priceContentPosicion h1{
    font-size: 26px;
    margin-bottom: 8px;
}

.priceContentPosicion p{
    font-size: 16px;
    margin: 16px 0;
}

.priceContentPosicion p span{
    font-size: 16px;
}

.priceContentPosicion h2{
    font-size: 18px;
}

.priceContentPosicion h2 span{
    font-size: 17px;
}

.buttonSummit {
    width: 100px;
    height: 48px;
    padding: 1px 0;
    font-size: 18px;
    margin: 8px 8px;
}
    
}

@media only screen and (max-width: 480px){
.containerCart {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 480;
    grid-template-rows: auto auto;
    grid-template-areas: "listCart"
    "summary";}
    
.listProduct{
    width: 470px;
    margin: 0;
}
    
.listProductOrdern table {
    margin: 0;
}
    
.listProductOrdern table tr th{
    font-size: 10px;
    padding: 8px 7px;
}
    
.listProductOrdern table tr td{
    padding: 4px 4px 4px 1px;
    font-size: 10px;
}
    
.listProductOrdern table tr td img{
    max-width: 50px;
    max-height: 50px;
    
}
    
.listProductOrdern table tr td p {
    text-align: 8px;
    padding: 4px 2px 4px 0;
}
    
.listProductOrdern table tr td button{
    font-size: 15px;
    width: 15px;
    height: 15px;
    
}   
    
    
.listProductOrdern table tr td input {
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-align: center;
}

.listProductOrdern table tr td span{
    padding: 0 8px;
    font-size: 10px;
 }

.compra{
    
    width: 470px;
    margin: 26px 5px 10px 10px;
}
    
.cupon input{
    width: 230px;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    margin: 0;
}
    
.cupon button {
    width: 230px;
    height: 30px;
    font-size: 18px;
    margin: 0;
}

.priceContentPosicion h1{
    font-size: 26px;
    margin-bottom: 8px;
}

.priceContentPosicion p{
    font-size: 16px;
    margin: 16px 0;
}

.priceContentPosicion p span{
    font-size: 16px;
}

.priceContentPosicion h2{
    font-size: 18px;
}

.priceContentPosicion h2 span{
    font-size: 17px;
}

.buttonSummit {
    width: 235px;
    height: 48px;
    padding: 1px 0;
    font-size: 18px;
    margin: 0;
}
     
}
