.novedadesOfertas {
  margin-top: 54px; }

.cointainerProducts {
  margin: 0 12%;
  background: #f3f6ff62; }
  .cointainerProducts .navProducts {
    width: 100%;
    height: 50px; }
    .cointainerProducts .navProducts p {
      font-size: 30px;
      padding-top: 8px;
      position: absolute;
      text-decoration: underline #d9e260 3px; }
    .cointainerProducts .navProducts ul {
      text-align: right;
      list-style-type: none; }
      .cointainerProducts .navProducts ul li {
        margin-top: 14px;
        margin-right: 12px;
        font-size: 20px;
        display: inline-block; }
        .cointainerProducts .navProducts ul li a {
          color: black; }
        .cointainerProducts .navProducts ul li .active {
          text-decoration: underline #d9e260 3px; }
  .cointainerProducts .bottonProduct {
    margin-bottom: 20px;
    display: block;
    text-align: center; }
  .cointainerProducts .continerCard {
    background: #f3f6ff;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; }
    .cointainerProducts .continerCard .cardsProduct {
      width: 250px;
      height: 350px;
      overflow: hidden;
      margin: 20px 48px;
      border-radius: 10px;
      position: relative;
      background-size: cover;
      background-position: center top;
      background: linear-gradient(180deg, #6DC4FF 0%, #0B40FF 52.08%, #3300FF 100%); }
      .cointainerProducts .continerCard .cardsProduct img {
        width: 100%;
        height: auto; }
      .cointainerProducts .continerCard .cardsProduct .card-title {
        left: 0;
        bottom: 0;
        height: 18%;
        width: 100%;
        position: absolute;
        text-align: center;
        background: transparent;
        text-transform: uppercase;
        transition: 0.3s ease-in-out; }
        .cointainerProducts .continerCard .cardsProduct .card-title h3 {
          font-size: 24px;
          font-weight: bold;
          color: #fff; }
      .cointainerProducts .continerCard .cardsProduct .card-Details {
        position: absolute;
        bottom: -450px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: inset -4px -4px 20px rgba(255, 255, 255, 0.35), inset 4px 4px 20px rgba(255, 255, 255, 0.35);
        transition: 0.3s ease-in-out; }
        .cointainerProducts .continerCard .cardsProduct .card-Details button {
          float: left;
          width: 140px;
          height: 35px;
          border: none;
          position: sticky;
          border-radius: 20px;
          font-size: 12px;
          margin: 0 56px;
          background: #ff00b8;
          transition: transform .5s; }
          .cointainerProducts .continerCard .cardsProduct .card-Details button:hover {
            color: #ff00b8;
            background: #fff;
            transition: .4s;
            transform: scale(1.1); }
        .cointainerProducts .continerCard .cardsProduct .card-Details .details h4 {
          position: absolute;
          width: 100%;
          top: 8%;
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
          color: #fff; }
        .cointainerProducts .continerCard .cardsProduct .card-Details .details p {
          position: absolute;
          width: 70%;
          margin-left: 15%;
          margin-right: 15%;
          top: 25%;
          text-align: center;
          color: #E7E7E7;
          font-weight: bold;
          font-family: Roboto;
          font-size: 14px; }
        .cointainerProducts .continerCard .cardsProduct .card-Details .details h2 {
          position: absolute;
          top: 70%;
          text-align: center;
          width: 100%;
          color: #fff;
          font-size: 19px; }
          .cointainerProducts .continerCard .cardsProduct .card-Details .details h2 span {
            font-size: 21px; }
      .cointainerProducts .continerCard .cardsProduct button {
        position: absolute;
        top: 82%;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }
      .cointainerProducts .continerCard .cardsProduct:hover .card-title {
        bottom: -75px; }
      .cointainerProducts .continerCard .cardsProduct:hover .card-Details {
        bottom: 0; }

@media (max-width: 480px) {
  .novedadesOfertas {
    margin-top: -3px; }
  .cointainerProducts {
    margin: 0 2%; }
    .cointainerProducts .navProducts p {
      font-size: 26px; }
    .cointainerProducts .navProducts ul li {
      font-size: 12px;
      margin-top: 24px;
      margin-right: 1px; }
    .cointainerProducts .continerCard {
      margin: 6px; }
      .cointainerProducts .continerCard .cardsProduct {
        width: 200px;
        height: 300px;
        margin: 8px 10px; }
        .cointainerProducts .continerCard .cardsProduct .card-title h3 {
          font-size: 18px; }
        .cointainerProducts .continerCard .cardsProduct .card-Details button {
          margin: 0 14.8%; } }

@media (min-width: 481px) and (max-width: 768px) {
  .novedadesOfertas {
    margin-top: 23px; }
  .cointainerProducts {
    margin: 0 3%; }
    .cointainerProducts .navProducts ul li {
      margin-top: 20px;
      margin-right: 8px;
      font-size: 16px; }
    .cointainerProducts .continerCard {
      margin: 4px; }
      .cointainerProducts .continerCard .cardsProduct {
        width: 200px;
        height: 300px;
        margin: 10px 18px; }
        .cointainerProducts .continerCard .cardsProduct .card-title h3 {
          font-size: 18px; }
        .cointainerProducts .continerCard .cardsProduct .card-Details button {
          margin: 0 14.8%; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .novedadesOfertas {
    margin-top: 55px; }
  .cointainerProducts {
    margin: 0 8%; }
    .cointainerProducts .navProducts ul li {
      margin-top: 20px;
      font-size: 18px; }
    .cointainerProducts .continerCard .cardsProduct {
      width: 200px;
      height: 300px;
      margin: 16px 33px; }
      .cointainerProducts .continerCard .cardsProduct .card-title h3 {
        font-size: 20px; }
      .cointainerProducts .continerCard .cardsProduct .card-Details button {
        margin: 0 15.6%; }
      .cointainerProducts .continerCard .cardsProduct .card-Details .details h4 {
        font-size: 24px; }
      .cointainerProducts .continerCard .cardsProduct .card-Details .details p {
        font-size: 12px; }
      .cointainerProducts .continerCard .cardsProduct .card-Details .details h2 {
        font-size: 17px; }
        .cointainerProducts .continerCard .cardsProduct .card-Details .details h2 span {
          font-size: 19px; } }

.containerCart {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1200px 700px;
  grid-template-rows: auto;
  grid-template-areas: "listCart summary"; }
  .containerCart .listProduct {
    height: auto;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 28px;
    grid-area: listCart;
    display: inline-block;
    background: #f3f6ff62; }
    .containerCart .listProduct .listProductOrdern {
      display: flex;
      justify-items: stretch; }
      .containerCart .listProduct .listProductOrdern table {
        width: auto;
        height: auto;
        margin: 1.5%;
        background: #f3f6ff;
        border: 1px black solid; }
        .containerCart .listProduct .listProductOrdern table tr th {
          text-align: center;
          font-size: 20px;
          padding: 10px 14px;
          border-right: black 1px solid; }
        .containerCart .listProduct .listProductOrdern table tr td {
          text-align: center;
          border: black 1px solid;
          padding: 8px 8px 8px 2px;
          border-right: black 1px solid;
          font-size: 17px; }
          .containerCart .listProduct .listProductOrdern table tr td img {
            max-width: 60px;
            max-height: 60px; }
          .containerCart .listProduct .listProductOrdern table tr td p {
            display: inline-block;
            text-align: left;
            text-align: center;
            text-align: 17px;
            padding: 18px 40px 18px 0; }
          .containerCart .listProduct .listProductOrdern table tr td button {
            background-color: #ff7b00;
            color: white;
            border: none;
            width: 18px;
            border-radius: 4px;
            padding: 0; }
          .containerCart .listProduct .listProductOrdern table tr td input {
            width: 18px;
            text-align: center;
            border: none;
            background: black;
            color: white; }
          .containerCart .listProduct .listProductOrdern table tr td span {
            padding: 0 8px; }
  .containerCart .compra {
    justify-content: center;
    margin: 30px;
    width: 600px;
    height: 460px;
    grid-area: summary;
    background: #f3f6ff62; }
    .containerCart .compra .compraContent {
      margin: 0; }
      .containerCart .compra .compraContent .cupon input {
        width: 340px;
        height: 44px;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        margin: 16px 13px 0 10px;
        background: none; }
      .containerCart .compra .compraContent .cupon button {
        background: none;
        border: 1px solid #ff7b00;
        width: 220px;
        height: 46px;
        padding: 2px 0;
        font-size: 18px; }
      .containerCart .compra .compraContent .priceContent {
        margin: 4% 3% 8% 3%;
        background: #f3f6ff; }
        .containerCart .compra .compraContent .priceContent .priceContentPosicion {
          padding: 20px; }
          .containerCart .compra .compraContent .priceContent .priceContentPosicion h1 {
            font-size: 34px;
            margin-bottom: 10px; }
          .containerCart .compra .compraContent .priceContent .priceContentPosicion p {
            font-size: 19px;
            margin: 18px 0; }
            .containerCart .compra .compraContent .priceContent .priceContentPosicion p span {
              font-size: 19px;
              float: right; }
          .containerCart .compra .compraContent .priceContent .priceContentPosicion h2 span {
            font-size: 20px;
            float: right; }
    .containerCart .compra .btn, .containerCart .compra .btn_vacias, .containerCart .compra .btn_comprar {
      background: none;
      border: 1px solid #ff7b00;
      width: 220px;
      height: 46px;
      padding: 2px 0;
      font-size: 18px;
      float: right;
      margin-right: 52px;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease all;
      position: relative;
      overflow: hidden; }
      .containerCart .compra .btn span, .containerCart .compra .btn_vacias span, .containerCart .compra .btn_comprar span {
        position: relative;
        z-index: 2;
        transition: .3s ease all; }
      .containerCart .compra .btn::after, .containerCart .compra .btn_vacias::after, .containerCart .compra .btn_comprar::after {
        content: "";
        width: 140%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 80px);
        border-right: 80px solid transparent;
        transition: .9s ease-in-out all; }
      .containerCart .compra .btn:hover::after, .containerCart .compra .btn_vacias:hover::after, .containerCart .compra .btn_comprar:hover::after {
        left: 0; }
    .containerCart .compra .btn_vacias::after {
      border-bottom: 80px solid red; }
    .containerCart .compra .btn_comprar::after {
      border-bottom: 80px solid #00c300; }

@media (max-width: 480px) {
  .containerCart {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 480;
    grid-template-rows: auto auto;
    grid-template-areas: "listCart" "summary"; }
    .containerCart .listProduct {
      width: 470px;
      margin: 0; }
      .containerCart .listProduct .listProductOrdern table {
        margin: 0; }
        .containerCart .listProduct .listProductOrdern table tr th {
          font-size: 10px;
          padding: 8px 7px; }
        .containerCart .listProduct .listProductOrdern table tr td {
          padding: 4px 4px 4px 1px;
          font-size: 10px; }
          .containerCart .listProduct .listProductOrdern table tr td img {
            max-width: 50px;
            max-height: 50px; }
          .containerCart .listProduct .listProductOrdern table tr td p {
            text-align: 8px;
            padding: 4px 2px 4px 0; }
          .containerCart .listProduct .listProductOrdern table tr td button {
            width: 15px; }
          .containerCart .listProduct .listProductOrdern table tr td input {
            width: 15px;
            text-align: center; }
          .containerCart .listProduct .listProductOrdern table tr td span {
            padding: 0 8px;
            font-size: 10px; }
    .containerCart .compra {
      width: 470px;
      margin: 26px 5px 10px 10px; }
      .containerCart .compra .compraContent .cupon input {
        width: 230px;
        height: 30px;
        font-size: 18px;
        border-radius: 4px;
        margin: 0; }
      .containerCart .compra .compraContent .cupon button {
        width: 230px;
        height: 30px;
        font-size: 18px;
        margin: 0; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion h1 {
        font-size: 26px;
        margin-bottom: 8px; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion p {
        font-size: 16px;
        margin: 16px 0; }
        .containerCart .compra .compraContent .priceContent .priceContentPosicion p span {
          font-size: 16px; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion h2 {
        font-size: 18px; }
        .containerCart .compra .compraContent .priceContent .priceContentPosicion h2 span {
          font-size: 17px; }
    .containerCart .btn, .containerCart .compra .btn_vacias, .containerCart .compra .btn_comprar {
      width: 235px;
      height: 48px;
      padding: 1px 0;
      font-size: 18px;
      margin: 0; } }

@media (min-width: 481px) and (max-width: 768px) {
  .containerCart {
    margin-top: 56px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 518px 250px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary"; }
    .containerCart .listProduct {
      width: 500px; }
      .containerCart .listProduct .listProductOrdern table {
        margin: 0 22px 0 0; }
        .containerCart .listProduct .listProductOrdern table tr th {
          font-size: 14px;
          padding: 8px 7px; }
        .containerCart .listProduct .listProductOrdern table tr td {
          padding: 4px 4px 4px 1px;
          font-size: 12px; }
          .containerCart .listProduct .listProductOrdern table tr td img {
            max-width: 50px;
            max-height: 50px; }
          .containerCart .listProduct .listProductOrdern table tr td p {
            text-align: 10px;
            padding: 8px 8px 8px 0; }
          .containerCart .listProduct .listProductOrdern table tr td button {
            width: 16px; }
          .containerCart .listProduct .listProductOrdern table tr td input {
            width: 16px; }
          .containerCart .listProduct .listProductOrdern table tr td span {
            padding: 0 8px;
            font-size: 16px; }
    .containerCart .compra {
      width: 240px;
      margin: 5px; }
      .containerCart .compra .compraContent .cupon input {
        width: 230px;
        height: 30px;
        font-size: 18px;
        border-radius: 4px; }
      .containerCart .compra .compraContent .cupon button {
        width: 230px;
        height: 30px;
        font-size: 18px;
        margin: 6px 0 0 10px; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion h1 {
        font-size: 26px;
        margin-bottom: 8px; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion p {
        font-size: 16px;
        margin: 16px 0; }
        .containerCart .compra .compraContent .priceContent .priceContentPosicion p span {
          font-size: 16px; }
      .containerCart .compra .compraContent .priceContent .priceContentPosicion h2 {
        font-size: 18px; }
        .containerCart .compra .compraContent .priceContent .priceContentPosicion h2 span {
          font-size: 17px; }
      .containerCart .compra .btn, .containerCart .compra .btn_vacias, .containerCart .compra .btn_comprar {
        width: 100px;
        height: 48px;
        padding: 1px 0;
        font-size: 16px;
        margin: 8px 8px; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .containerCart {
    margin-top: 56px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 624px 400px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary"; }
    .containerCart .listProduct {
      width: 600px; }
      .containerCart .listProduct .listProductOrdern table {
        margin: 0 10px 0 0; }
        .containerCart .listProduct .listProductOrdern table tr th {
          font-size: 14px;
          padding: 8px 7px; }
        .containerCart .listProduct .listProductOrdern table tr td {
          padding: 6px 6px 6px 2px;
          font-size: 12px; }
          .containerCart .listProduct .listProductOrdern table tr td img {
            max-width: 60px;
            max-height: 60px; }
          .containerCart .listProduct .listProductOrdern table tr td p {
            text-align: 14px;
            padding: 10px 10px 10px 0; }
          .containerCart .listProduct .listProductOrdern table tr td button {
            width: 18px; }
          .containerCart .listProduct .listProductOrdern table tr td input {
            width: 20px; }
          .containerCart .listProduct .listProductOrdern table tr td span {
            padding: 0 8px;
            font-size: 16px; }
    .containerCart .compra {
      width: 400px;
      height: 420px;
      margin: 10px; }
      .containerCart .compra .compraContent .cupon input {
        width: 240px;
        height: 34px;
        font-size: 18px;
        border-radius: 4px;
        margin: 16px 4px 0 10px; }
      .containerCart .compra .compraContent .cupon button {
        width: 130px;
        height: 34px;
        padding: 2px 0;
        font-size: 18px; }
      .containerCart .compra .btn, .containerCart .compra .btn_vacias, .containerCart .compra .btn_comprar {
        width: 180px;
        height: 36px;
        padding: 2px 0;
        font-size: 18px;
        margin: 8px 10px; } }

.mainSup .infomacionSobreNostros {
  width: 100%;
  display: inline-block;
  margin-top: 50px; }
  .mainSup .infomacionSobreNostros .infoContainer {
    margin: 20px 65px 0 65px; }
    .mainSup .infomacionSobreNostros .infoContainer i {
      font-size: 26px;
      padding-right: 1px; }
    .mainSup .infomacionSobreNostros .infoContainer h1 {
      font-size: 36px;
      display: inline-block; }
    .mainSup .infomacionSobreNostros .infoContainer .linea {
      width: 100%;
      border-top: red 3px solid; }
    .mainSup .infomacionSobreNostros .infoContainer .datosContainer {
      margin-top: 2.4px;
      border-top: blue 1.5px solid; }
      .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato {
        margin: 10px 70px 50px;
        display: block; }
        .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato h2 {
          margin-top: 24px;
          text-align: center;
          font-size: 28px; }
        .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato p {
          margin-top: 14px;
          font-size: 20px;
          text-align: center; }
          .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato p span {
            font-weight: 600; }
            .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato p span a {
              text-decoration: none;
              color: black; }

@media (max-width: 480px) {
  .mainSup {
    margin: 0; }
    .mainSup .infomacionSobreNostros {
      margin-top: 0; }
      .mainSup .infomacionSobreNostros .infoContainer {
        margin: 0 35px; }
        .mainSup .infomacionSobreNostros .infoContainer i {
          font-size: 16px; }
        .mainSup .infomacionSobreNostros .infoContainer h1 {
          font-size: 26px; }
        .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato {
          margin: 10px 50px 40px; }
          .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato h2 {
            margin-top: 14px;
            font-size: 22px; }
          .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato p {
            margin-top: 8;
            font-size: 16px; } }

@media (min-width: 481px) and (max-width: 768px) {
  .mainSup {
    margin: 0; }
    .mainSup .infomacionSobreNostros {
      margin-top: 6px; }
      .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato {
        margin: 20px 60px 50px; }
        .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato h2 {
          margin-top: 10px; }
        .mainSup .infomacionSobreNostros .infoContainer .datosContainer .informacionDato p {
          margin-top: 10px;
          font-size: 16px; } }

.mainSup {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mainSup .containerChat {
    border: black 3px solid;
    width: 1200px;
    height: 700px; }
    .mainSup .containerChat .encabesadoChat {
      background: #f3f6ff;
      height: 90px;
      display: flex;
      border-bottom: black 3px solid; }
      .mainSup .containerChat .encabesadoChat img {
        margin-left: 10px;
        margin: 5px 0 5px 20px; }
      .mainSup .containerChat .encabesadoChat h2 {
        font-size: 40px;
        margin: 19px 0 20px 8px;
        letter-spacing: 4px; }
      .mainSup .containerChat .encabesadoChat .encabesadoEstado {
        margin: 2.4% 0 0 67%; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado #estado, .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoLinea, .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoOcupado, .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoDesconectado {
          width: 12px;
          height: 12px;
          border: black 1px solid;
          border-radius: 1000px;
          display: inline-block; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoLinea {
          background: #09ff00; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoOcupado {
          background: #ff0000; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado #estadoDesconectado {
          background: #8f8f8f; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado p {
          font-size: 20px;
          display: inline-block; }
    .mainSup .containerChat .chat .chatContent {
      background: #f3f6ff;
      width: 100%;
      height: 562px;
      float: left;
      padding: 40px; }
      .mainSup .containerChat .chat .chatContent .incoming_msg .incoming_msg_img {
        display: inline-block;
        width: 6%; }
        .mainSup .containerChat .chat .chatContent .incoming_msg .incoming_msg_img img {
          width: 100%; }
      .mainSup .containerChat .chat .chatContent .incoming_msg .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 91%; }
        .mainSup .containerChat .chat .chatContent .incoming_msg .received_msg .received_withd_msg {
          width: 70%; }
          .mainSup .containerChat .chat .chatContent .incoming_msg .received_msg .received_withd_msg p {
            background: #e4e8fb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%; }
          .mainSup .containerChat .chat .chatContent .incoming_msg .received_msg .received_withd_msg .time_date {
            color: #747474;
            display: block;
            font-size: 10px;
            margin: 3px 0 0; }
      .mainSup .containerChat .chat .chatContent .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px; }
        .mainSup .containerChat .chat .chatContent .outgoing_msg .sent_msg {
          float: right;
          width: 70%;
          text-align: right; }
          .mainSup .containerChat .chat .chatContent .outgoing_msg .sent_msg p {
            background: #3F51B5 none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: #fff;
            padding: 5px 10px 5px 12px;
            width: 100%; }
        .mainSup .containerChat .chat .chatContent .outgoing_msg .time_date {
          color: #747474;
          display: block;
          font-size: 10px;
          margin: 3px 0 0; }
    .mainSup .containerChat .chat .chatInput {
      display: inline-block;
      background: #343a40;
      width: 100%;
      height: 41px;
      margin-top: 2px; }
      .mainSup .containerChat .chat .chatInput input {
        background: none;
        width: 90%;
        height: 100%;
        border: black 1px solid;
        font-size: 20px;
        color: blanchedalmond;
        display: inline; }
      .mainSup .containerChat .chat .chatInput button {
        position: relative;
        border: #33ff00 1px solid;
        width: 9.66%;
        height: 100%;
        color: whitesmoke;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        position: relative;
        overflow: hidden;
        background: none; }
        .mainSup .containerChat .chat .chatInput button span {
          position: relative;
          z-index: 2;
          transition: .01s ease all; }
        .mainSup .containerChat .chat .chatInput button::after {
          content: "";
          width: 180%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: calc(-100% - 80px);
          border-right: 80px solid transparent;
          transition: .4s ease-in-out all;
          border-bottom: 80px solid #00c300; }
        .mainSup .containerChat .chat .chatInput button:hover::after {
          left: 0; }

@media (max-width: 480px) {
  .mainSup {
    margin-top: 10px; }
    .mainSup .containerChat .encabesadoChat {
      height: 50px; }
      .mainSup .containerChat .encabesadoChat h2 {
        font-size: 30px;
        margin: 8px 0 10px; }
      .mainSup .containerChat .encabesadoChat .encabesadoEstado {
        margin: 13px 0 0 200px; }
        .mainSup .containerChat .encabesadoChat .encabesadoEstado p {
          font-size: 15px; }
    .mainSup .containerChat .chat .chatInput input {
      width: 80%; }
    .mainSup .containerChat .chat .chatInput button {
      width: 19%; } }

@media (min-width: 481px) and (max-width: 768px) {
  .mainSup {
    margin-top: 30px; }
    .mainSup .containerChat .encabesadoChat .encabesadoEstado {
      margin: 30px 0 0 360px; }
    .mainSup .containerChat .chat .chatInput input {
      width: 80%; }
    .mainSup .containerChat .chat .chatInput button {
      width: 19%; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .mainSup {
    margin-top: 65px; }
    .mainSup .containerChat .encabesadoChat .encabesadoEstado {
      margin: 30px 0 0 610px; }
    .mainSup .containerChat .chat .chatInput input {
      width: 80%; }
    .mainSup .containerChat .chat .chatInput button {
      width: 19.5%; }
      .mainSup .containerChat .chat .chatInput button::after {
        left: calc(-120% - 76px); } }

.mainLR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11.8% 0; }
  .mainLR .containerLogin {
    width: 400px;
    height: 350px;
    display: inline-block;
    border: black 2px solid;
    background-image: linear-gradient(to right, #181818, #460046, #640064); }
    .mainLR .containerLogin .encabesadoLogin {
      border-bottom: black 2px solid; }
      .mainLR .containerLogin .encabesadoLogin h2 {
        padding: 25px 0 25px;
        text-align: center;
        color: whitesmoke; }
    .mainLR .containerLogin .formLogin form {
      margin: 15px 0 0 10px;
      text-align: center; }
      .mainLR .containerLogin .formLogin form .formLoginInput {
        margin-bottom: 20px; }
        .mainLR .containerLogin .formLogin form .formLoginInput span {
          color: rgba(233, 233, 233, 0.281);
          margin-bottom: 6px;
          display: block;
          font-size: 20px; }
        .mainLR .containerLogin .formLogin form .formLoginInput input {
          border: 0;
          outline: none;
          color: white;
          font-size: 16px;
          background: none;
          padding-bottom: 1.2px;
          border-bottom: black 2px solid; }
      .mainLR .containerLogin .formLogin form button {
        color: white;
        background: none;
        border-radius: 20px;
        border: black 1px solid;
        padding: 12px 50px 12px 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Georgia, Times, serif; }

header {
  width: 100%;
  height: 40px; }
  header .logo {
    width: 145px;
    position: absolute; }
  header .menu {
    list-style-type: none;
    text-align: center;
    border-bottom: black 1px solid; }
    header .menu li {
      display: inline-block;
      padding: 30px; }
      header .menu li a {
        color: black;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 22px; }
  header .users {
    display: flex;
    float: right;
    position: absolute;
    font-size: 20px;
    right: 6px;
    top: 32px; }
    header .users a {
      text-decoration: none;
      color: black; }
      header .users a:hover {
        text-shadow: 2px 2px 8px #8b8b8b; }

footer {
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
  background-color: whitesmoke;
  border-bottom: black 1px solid; }
  footer p {
    text-align: center;
    margin-top: 16px;
    font-size: 12px; }
  footer .logoFooter {
    position: absolute;
    margin-top: 10px;
    margin-left: 2px;
    width: 80px; }
  footer .politicas {
    text-align: center;
    margin-top: 24px; }
    footer .politicas span a {
      text-decoration: none;
      color: black; }
  footer .redesIcons img {
    float: right;
    width: 29px;
    margin-right: 12px; }

@media (max-width: 480px) {
  header {
    width: 100%; }
    header .logo {
      width: 58px;
      position: absolute; }
    header .menu {
      list-style-type: none;
      text-align: center;
      border-bottom: black 1px solid; }
      header .menu li {
        display: inline-block;
        padding: 6px; }
        header .menu li a {
          color: black;
          letter-spacing: 2px;
          text-decoration: none;
          font-size: 10px; }
    header .users {
      display: flex;
      float: right;
      position: absolute;
      font-size: 10px;
      top: 12px; }
      header .users a {
        text-decoration: none;
        color: black; }
  footer p {
    text-align: center;
    margin-top: 1px;
    font-size: 6px;
    margin: 0 130px; }
  footer .logoFooter {
    position: absolute;
    margin-top: 6px;
    margin-left: 2px;
    width: 50px; }
  footer .politicas {
    text-align: center;
    margin-top: 10px;
    font-size: 14px; }
  footer .redesIcons img {
    float: right;
    width: 10px;
    margin-right: 10px; } }

@media (min-width: 481px) and (max-width: 768px) {
  header .logo {
    width: 99px;
    position: absolute; }
  header .menu {
    list-style-type: none;
    text-align: center;
    border-bottom: black 1px solid; }
    header .menu li {
      display: inline-block;
      padding: 19px; }
      header .menu li a {
        color: black;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 16px; }
  header .users {
    font-size: 16px;
    position: absolute;
    right: 1px;
    top: 19px; }
    header .users a {
      text-decoration: none;
      color: black; }
  footer .redesIcons img {
    width: 17px; } }

@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    margin-top: 0;
    position: relative;
    left: 0;
    bottom: 0; }
    footer p {
      text-align: center;
      margin-top: 10px;
      font-size: 12px;
      margin: 10px 140px; }
    footer .logoFooter {
      width: 84px; }
    footer .politicas {
      margin-top: 20px; }
    footer .redesIcons img {
      width: 20px;
      margin: 0 8px;
      position: relative;
      left: 10px;
      bottom: 22px; } }
