.containerCart {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1200px 700px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary";
    .listProduct{
        height: auto;
        width: 1100px;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 28px;
        grid-area: listCart;
        display: inline-block;
        background: $bg_darkGrey;
        .listProductOrdern {
            display: flex;
            justify-items: stretch ;
            table {
                width: auto;
                height: auto;
                margin: 1.5%;
                background: $bg_lightGrey;
                border: 1px black solid;
                tr{
                    th{
                    text-align: center;
                    font-size: 20px;
                    padding: 10px 14px;
                    border-right: black 1px solid;
                    }
                    td{
                        text-align: center;
                        border: black 1px solid;
                        padding: 8px 8px 8px 2px;
                        border-right: black 1px solid;
                        font-size: 17px;
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        }
                        p{
                            display: inline-block;
                            text-align: left;
                            text-align: center;
                            text-align: 17px;
                            padding: 18px 40px 18px 0;
                        }
                        button{
                            background-color: #ff7b00;
                            color: white;
                            border: none;
                            width: 18px;
                            border-radius: 4px;
                            padding: 0;
                            
                        }
                        input{
                            width: 18px;
                            // height: 18px;
                            // font-size: 24px;
                            text-align: center;
                            border: none;
                            background: black;
                            color: white;
                        }
                        span{
                           padding: 0 8px;
                        }
                    }
                }
            }
        }
    }
    .compra{
        justify-content: center;
        margin: 30px;
        width: 600px;
        height: 460px;
        grid-area: summary;
        background: $bg_darkGrey;
        .compraContent {
            margin: 0;
            .cupon{
                input{
                    width: 340px;
                    height: 44px;
                    font-size: 18px;
                    border-radius: 4px;
                    border: 1px solid #dddddd;
                    margin: 16px 13px 0 10px;
                    background: none;
                }
                button {
                    background: none;
                    border: 1px solid #ff7b00;
                    width: 220px;
                    height: 46px;
                    padding: 2px 0;
                    font-size: 18px;
                }
            }
            .priceContent {
                margin: 4% 3% 8% 3%;
                background: $bg_lightGrey;
                .priceContentPosicion {
                    padding: 20px;
                    h1{
                        font-size: 34px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 19px;
                        margin: 18px 0;
                        span{
                            font-size: 19px;
                            float: right;
                        }
                    }
                    h2{
                        span{
                            font-size: 20px;
                            float: right;  
                        }
                    }
                }
            }
        }
        .btn {
            background: none;
            border: 1px solid #ff7b00;
            width: 220px;
            height: 46px;
            padding: 2px 0;
            font-size: 18px;
            float: right;
            margin-right: 52px;
            cursor: pointer;
            text-transform: uppercase;
	        transition: .3s ease all;
            position: relative;
	        overflow: hidden;
            span {
                position: relative;
                z-index: 2;
                transition: .3s ease all;
            }
            
            &::after {
                content: "";
                width: 140%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: calc(-100% - 80px);
                border-right: 80px solid transparent;
                transition: .9s ease-in-out all;
            }
            &:hover::after {
                left: 0;
            }
        }
        .btn_vacias{
            @extend .btn;
            &::after {
                border-bottom: 80px solid red;
            }
        }
        .btn_comprar{
            @extend .btn;
            &::after {
                border-bottom: 80px solid rgb(0, 195, 0);
            }
        }

    }
}

@media (max-width: 480px){
.containerCart {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 480;
    grid-template-rows: auto auto;
    grid-template-areas: "listCart"
    "summary";
    .listProduct{
        width: 470px;
        margin: 0;
        .listProductOrdern{
            table {
                margin: 0;
                tr{
                    th{
                        font-size: 10px;
                        padding: 8px 7px;
                    }
                    td{
                        padding: 4px 4px 4px 1px;
                        font-size: 10px;
                        img{
                            max-width: 50px;
                            max-height: 50px;
                            
                        }
                            
                        p {
                            text-align: 8px;
                            padding: 4px 2px 4px 0;
                        }
                            
                        button{
                            width: 15px;
                        }   
                            
                            
                        input {
                            width: 15px;
                            text-align: center;
                        }
                        
                        span{
                            padding: 0 8px;
                            font-size: 10px;
                         }
                    }
                }
            }
        }
    }     
    .compra{
        width: 470px;
        margin: 26px 5px 10px 10px;
        .compraContent{
            .cupon{
            input{
                width: 230px;
                height: 30px;
                font-size: 18px;
                border-radius: 4px;
                margin: 0;
            } 
            button {
                width: 230px;
                height: 30px;
                font-size: 18px;
                margin: 0;
            }
            }
            .priceContent{
                .priceContentPosicion{
                    h1{
                        font-size: 26px;
                        margin-bottom: 8px;
                    }
                    
                    p{
                        font-size: 16px;
                        margin: 16px 0;
                        span{
                            font-size: 16px;
                        }
                    }
                    h2{
                        font-size: 18px;
                        span{
                            font-size: 17px;
                        }
                    }

                }
            }
        }
    }
    .btn {
        width: 235px;
        height: 48px;
        padding: 1px 0;
        font-size: 18px;
        margin: 0;
    }
}    
}

@media (min-width: 481px) and(max-width: 768px) {
    .containerCart {
        margin-top: 56px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: 518px 250px;
        grid-template-rows: auto;
        grid-template-areas: "listCart summary";
        .listProduct{
            width: 500px;
            .listProductOrdern{
                table {
                    margin: 0 22px 0 0;
                    tr{
                        th{
                            font-size: 14px;
                            padding: 8px 7px;
                        }
                            
                        td{
                            padding: 4px 4px 4px 1px;
                            font-size: 12px;
                            img{
                                max-width: 50px;
                                max-height: 50px;
                                
                            }
                                
                            p {
                                text-align: 10px;
                                padding: 8px 8px 8px 0;
                            }
                                
                            button{
                                width: 16px;
                                
                            }   
                            input {
                                width: 16px;
                            }
                            
                            span{
                                padding: 0 8px;
                                font-size: 16px;
                            }
                        }
                    }
                }         
            }
        }
        .compra{
            width: 240px;
            margin: 5px;
            .compraContent{
                .cupon{
                    input{
                        width: 230px;
                        height: 30px;
                        font-size: 18px;
                        border-radius: 4px;
                        
                    }
                    button {
                        width: 230px;
                        height: 30px;
                        font-size: 18px;
                        margin: 6px 0 0 10px;
                    }
                }
                .priceContent{
                    .priceContentPosicion{
                        h1{
                            font-size: 26px;
                            margin-bottom: 8px;
                        }
                        
                        p{
                            font-size: 16px;
                            margin: 16px 0;
                            span{
                                font-size: 16px;
                            }
                        }
                        
                        
                        h2{
                            font-size: 18px;
                            span{
                                font-size: 17px;
                            }
                        }
        
                    }
                }
                }
                .btn {
                    width: 100px;
                    height: 48px;
                    padding: 1px 0;
                    font-size: 16px;
                    margin: 8px 8px;
                }
            }
    }   
    }
    

@media (min-width: 769px) and (max-width: 1024px) {

.containerCart {
    margin-top: 56px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 624px 400px;
    grid-template-rows: auto;
    grid-template-areas: "listCart summary";
    .listProduct{
        width: 600px;
        .listProductOrdern{
            table {
                margin: 0 10px 0 0;
                tr{
                    th{
                        font-size: 14px;
                        padding: 8px 7px;
                    }
                    td{
                        padding: 6px 6px 6px 2px;
                        font-size: 12px;
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        
                        }
                        p {
                            text-align: 14px;
                            padding: 10px 10px 10px 0;
                        }
                        button{
                            width: 18px;
                        
                        }   
                        input {
                            width: 20px;
                        }
                        span{
                            padding: 0 8px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .compra{
        width: 400px;
        height: 420px;
        margin: 10px;
        .compraContent{
            .cupon{
                input{
                    width: 240px;
                    height: 34px;
                    font-size: 18px;
                    border-radius: 4px;
                    margin: 16px 4px 0 10px;
                }
                button {
                    width: 130px;
                    height: 34px;
                    padding: 2px 0;
                    font-size: 18px;

                }
            }
        }
        .btn {
            width: 180px;
            height: 36px;
            padding: 2px 0;
            font-size: 18px;
            margin: 8px 10px;
        }
    }
}
}



