
.cointainerProducts{
    margin: 0 12%;
    .navProducts {
        width: 100%;
        height: 50px;
        p{
            font-size: 1.875rem;
            padding-top: 0.5rem;
            position: absolute;
        }
        ul{
            text-align: right;
            list-style-type: none;
            li{
                margin-top: 0.875rem;
                margin-right: 0.75rem;
                font-size: 1.25rem;
                display: inline-block;
                a{
                    color: black;   
                }
            }
        }
    }
    .bottonProduct{
        margin-bottom: 30px;
        display: block;
        text-align: center;
        
    }
    .continerCard{
        margin: 1.875rem;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        flex-direction: row; 
        .cardsProduct {
            width: 250px;
            height: 350px;
            overflow: hidden;
            margin: 20px 13px;
            border-radius: 10px;
            position: relative;
            background-size: cover;
            background-position: center top;
            background: linear-gradient(180deg, #6DC4FF 0%, #0B40FF 52.08%, #3300FF 100%);
            .card-title {
                left: 0;
                bottom: 0;
                height: 18%;
                width: 100%;
                position: absolute;
                text-align: center;
                background: transparent;
                text-transform: uppercase;
                transition: 0.3s ease-in-out;
                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #fff;
                }
            }
            .card-Details {
                position: absolute;
                bottom: -450px;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: inset -4px -4px 20px rgba(255, 255, 255, 0.35), inset 4px 4px 20px rgba(255, 255, 255, 0.35);
                transition: 0.3s ease-in-out;
                button{
                    float: left;
                    width: 140px;
                    height: 35px;
                    border: none;
                    position: sticky;
                    border-radius: 20px;
                    font-size: 12px;
                    margin: 0px 56px 0px;
                    background: #ff00b8;
                    transition: transform .5s;
                    &:hover{
                        color: #ff00b8;
                        background: #fff;
                        transition: .4s;
                        transform: scale(1.1);
                    }
                }
                .details{
                    h4{
                        position: absolute;
                        width: 100%;
                        top: 8%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 30px;
                        color: #fff;
                    }
                    p{
                        position: absolute;
                        width: 70%;
                        margin-left: 15%;
                        margin-right: 15%;
                        top: 25%;
                        text-align: center;
                        color: #E7E7E7;
                        font-weight: bold;
                        font-family: Roboto;
                        font-size: 14px;
                    }
                    h2{
                        position: absolute;
                        top: 70%;
                        text-align: center;
                        width: 100%;
                        color: #fff;
                        font-size: 19px;
                        span{
                            font-size: 21px;
                        }
                    }
                }
                
            }
            button {
                position: absolute;
                top: 82%;
                cursor: pointer;
                color: #fff;
                font-weight:  bold;
                text-transform: uppercase;
            }
            &:hover .card-title{
                bottom: -75px;
            }
            &:hover .card-Details{
                bottom: 0;
            }
            
        }
    }
}













.active {
    margin-bottom: 0;
    border-bottom: 3px solid #d9e260; 
}
